{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}
    <form class="position-absolute top-50 start-50 translate-middle bg-body-secondary p-4 pt-0 rounded border border-secondary-subtle bg-opacity-75 w-75 shadow-lg" method="post">
        <div class="row no-margin">
            <div class="col-12">
                <div class="row no-margin">
                    <div class="col-md-4 pt-4">
                        <div class="form-group">
                            <span class="form-label">Check In</span>
                            <input name="debut" class="form-control" type="date" required="" value="{{ 'now'|date('Y-m-d') }}" min="{{ 'now'|date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="col-md-4 pt-4">
                        <div class="form-group">
                            <span class="form-label">Check out</span>
                            <input name="fin" class="form-control" type="date" required="" value="{{ '3 day'|date('Y-m-d') }}" min="{{ 'now'|date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="col-md-2 pt-4">
                        <div class="form-group">
                            <span class="form-label">Adultes</span>
                            <select name="nbAdulte" class="form-select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 pt-4">
                        <div class="form-group">
                            <span class="form-label">Enfants</span>
                            <select name="nbEnfant" class="form-select">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-4">
                <div class="position-relative">
                    <button class="btn btn-primary">Vérifier disponibilité</button>
                </div>
            </div>
        </div>
    </form>

    {% if units is defined %}
        {% if units|length == 0 %}
            <div class="toast-container top-0 start-50 translate-middle-x p-3">
                <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            Aucune disponibilité. Veuillez renseigner les dates de votre séjour pour voir les disponibilités
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
