{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #container {
            background-image: url("{{ asset('images/background.webp') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}

{% block body %}
    <form class="position-absolute top-50 start-50 translate-middle bg-body-secondary p-4 rounded border border-secondary-subtle bg-opacity-75 w-75 shadow-lg">
        <div class="row no-margin">
            <div class="col-12">
                <div class="row no-margin">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="form-label">Check In</span>
                            <input class="form-control" type="date" required="" value="{{ 'now'|date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="form-label">Check out</span>
                            <input class="form-control" type="date" required="" value="{{ 'now'|date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <span class="form-label">Adultes</span>
                            <select class="form-select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <span class="form-label">Enfants</span>
                            <select class="form-select">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-4">
                <div class="position-relative">
                    <button class="btn btn-primary">Vérifier disponibilité</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
